h1{
    color: Blue;
}

#playArea{
  display: flex;
  gap: 15px;
}

.row{
    display: flex;
}

.column{
  height: 15px;
  width: 15px;
  border: 1px solid grey;
}

.missedCell{
  border-color: blue;
  background-color: blue;
}

.hasShip{
  border-color: green;
  background-color: green;
}

.damagedShip{
  border-color: yellow;
  background-color: yellow;
}

.destroyedShip{
  border-color: red;
  background-color: red;
}

.highlight{
  border-color: yellow;
  background-color: yellow;
}

/* body{
    background-color: brown;
} */